
.wrapper {
	background: #dfdfdf;
}

.content {
	min-height: 550px;
}

.main {
	min-height: 530px;
	background: #fff;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px #888888;
}

.pagination {
	float:right;
	margin-right: 50px;
}

legend {
	/*border: 1px solid #000;*/
	background: #dfdfdf;
	font-weight: 5px;
	padding-left: 10px;
	/*float: left;*/
	/*width: 250px;*/
	/*margin-left: 15px;*/
	/*text-align: center;*/
}

.form-search {
	/*background: #dfdfdf;*/
	/*font-weight: 5px;*/
	/*padding-left: 10px;*/
	/*float:right;*/
}

.head-page {
	padding: 10px 15px;
	font-weight: bold;
	background: #337ab7;
	color: #fff;
	margin-bottom: 30px;
}

.head-page-title {
	float:left;
	padding: 10px 15px;
	
	width: 300px;
}

.clear {
	clear: both;
}

/* .info, .success, .warning, .error {
	border: 1px solid;
	margin: 10px 40px;
	padding:15px 10px 15px 65px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 125%;
	width: 400px;

}*/

.success {
	margin-top: 10px;
	background-repeat: no-repeat;
	font-size: 125%;
	width: 400px;
	border: 1px solid;
	margin: 10px 40px;
	padding:15px 10px 15px 65px;
	color: #4F8A10; 
	border-color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/success.png');
	background-position: 10px center;
}

.error {
	color: #D8000C; 
	font-size: 125%;
	width: 400px;
	color: #4F8A10; 
	border-color: #D8000C;
	background-color: #FFBABA;
	background-size: 126px 126px;
	background-image: url('../img/error.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}

.tile {
    background-color: #337ab7;
    box-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}


.tile .tile-title {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 3px 15px;
    text-transform: capitalize;
   	font-weight: bold;
}

.tile-body {
	padding: 15px;
	color:#fff;
	font-weight: bold;
	font-size: 38px;
}

.tile-body h4 {
	font-size: 30px;
}

.tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 4px 15px;

}

.tile-footer a {
	color:#fff;
	font-weight: bold;
}

.icon { 


}


.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}

fieldset legend {
	padding: 10px 15px;
	font-weight: bold;
	background: #337ab7;
	color: #fff;
}

.footer {
	border-top: 2px solid yellow;
	background: #000;
	height: 50px;
	color: #fff;
	font-weight: bold;
	padding: 18px 0px;
	text-align: center;
}

